<header class="header">

        <div class="header__wrapper">
            <div class="container">
                <img src="img/Cyberpunk_2077_logo.svg" alt="Cyberpunk_2077">
                <nav>
                    <ul>
                        <li> <a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li style="display: inline; margin-right: 15px;"><a href="#">Ссылка 3</a></li>
                    </ul>
                </nav>
            </div>
        </div>


    <div id="my-slider" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide"><img src="img/slide/11.jpg" alt="" class="splide__slide-img"></li>
                <li class="splide__slide"><img src="img/slide/12.jpg" alt="" class="splide__slide-img"></li>
                <li class="splide__slide"><img src="img/slide/13.jpg" alt="" class="splide__slide-img"></li></li>
            </ul>
        </div>
    </div>
</header>
